<?xml version="1.0"?>
<configuration>
  <!--For product use -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="iExchange.DealingConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="data source=ws0301;initial catalog=iExchange_V3;user id=sa;password=Omni1234;Connect Timeout=30"/>
    <add key="ServiceUrl" value="http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/DealingConsole/Inner/service2.asmx"/>
    <add key="iExchange.DealingConsole.ParticipantServices.ParticipantServices" value="http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/Security/Service/participantservices.asmx"/>
    <add key="iExchange.DealingConsole.SecurityServices.SecurityServices" value="http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/Security/Service/securityservices.asmx"/>
    <!-- add key="iExchange.DealingConsole.StateServer.Service" value="http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service.asmx"/ -->
    <add key="iExchange.StateServer.Service" value="http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service.asmx"/>
    <add key="DealingConsole" value="0F2DAA50-5EA4-4E31-950C-BA1606F77C70"/>
    <add key="Run" value="5029EBEA-485F-4014-AE18-0F1179A400B3"/>
    <add key="Access1" value="7133D4FA-BEB4-4DC0-9188-9AD3C9D7AD76"/>
    <add key="LMTProcessDisplay" value="true"/>
    <add key="IsDebugGetCommands" value="true"/>
    <add key="IsDebug" value="true"/>
    <add key="ConfirmRejectDQOrder" value="true"/>
    <add key="AllowModifyOrderLot" value="false"/>
    <add key="EnableSaveLogInDatabase" value="true"/>
    <add key="WriteToDbLogLevels" value="SuccessAudit"/>
    <!--*: all
		PlaceCommand,ExecuteCommand,CancelCommand,AssignCommand,RejectCancelLmtOrderCommand,
		Execute2Command,DeleteCommand,ResetAlertLevelCommand,ResetCommand,AlertCommand,CutCommand,
		HitCommand,UpdateAccountLockCommand,
		QuoteCommand,AnswerCommand,
		QuotationCommand,ChatCommand,UpdateCommand,QuotationSourceCommand
		-->
    <add key="LogCommands" value="*"/>
    <add key="SourceLevelAdjustmentTimerInterval" value="800"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <!-- zero or more compiler elements -->
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" compilerOptions="/d:DEBUG;TRACE;PERMISSION" warningLevel="1"/>
    </compilers>
  </system.codedom>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <!--webServices>
			<soapExtensionTypes>
				<add type="iExchange.DealingConsole.TraceExtension, iExchange.DealingConsole" priority="1" group="0" />
			</soapExtensionTypes>
		</webServices-->
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
          		<customErrors mode="RemoteOnly" />
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <!--authentication mode="Windows" /-->
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".iExchange_DealingConsole" protection="All" timeout="20" slidingExpiration="true"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--<allow users="*"/>-->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByTime" localOnly="false"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <applicationSettings>
    <iExchange.DealingConsole.Properties.Settings>
      <setting name="iExchange_DealingConsole_Participant_Service_Service1"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder.asmx</value>
      </setting>
      <setting name="iExchange_DealingConsole_Security_Service_PlaceHolder2"
        serializeAs="String">
        <value>http://localhost/iExchange%20Team/Test/PlaceHolder/PlaceHolder2.asmx</value>
      </setting>
      <setting name="iExchange_DealingConsole_StateServer_Service_PlaceHolder3"
        serializeAs="String">
        <value>http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service.asmx</value>
      </setting>
    </iExchange.DealingConsole.Properties.Settings>
  </applicationSettings>
</configuration>
